$charcoalBlack: rgb(26, 26, 26);
$boneWhite: rgb(217, 217, 217);
$steelyBlue: rgb(27, 97, 176);

:host {
  background-size: cover;
}

.not-found-container {
  font-family: 'Poor Story', cursive;
  font-size: 1.5em;
  background-color: $charcoalBlack;
  border-color: $boneWhite;
  border-style: solid;
  border-radius: 15px;
  margin: 1% 8% 0 8%;
}

h1 {
  text-align: center;
  color: $boneWhite;
}

h2 {
  font-size: 2em;
  color: $steelyBlue;
}

@media screen and (max-width: 600px) {
  .contact-us-container {
    h1, h2 {
      font-size: 1.2em;
    }
  }
}
