<sidebar-menu *ngIf="!isShowing"></sidebar-menu>

<div *ngIf="!isShowing" class="tourInfo-container">
  <h4>{{getTourYear()}}</h4>
  <ul class="tour-year-list">
    <li *ngFor="let show of getShowArray(); let i = index"
      (click)="displaySetlist(i)">
      <br>
      {{show.getVenueName()}}
      <br>
      {{show.getCityName()}}, {{show.getCityLocation()}}
      <br>
      {{show.getEventDate()}}
      <br>
    </li>
  </ul>
</div>

<div *ngIf="isShowing" class="tourInfo-container">
  <h4>
    {{getShow(this.currentIndex).getVenueName()}}
    <br>
    {{getShow(this.currentIndex).getCityName()}}, {{getShow(this.currentIndex).getCityLocation()}}
    <br>
    {{getShow(this.currentIndex).getEventDate()}}
  </h4>
  <ul class="tour-year-list">
    <li *ngFor="let set of getShow(this.currentIndex).getSetListArray(); let i = index">
      <h1>Set {{i+1}}</h1>
      {{set}}
    </li>
  </ul>
</div>

<button *ngIf="isShowing" type="button" name="goBackButton"
  id="goBackButton" (click)="returnToTourYear()">Go Back</button>
