/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');

$primary: rgb(111, 0, 255);
$boneWhite: rgb(217, 217, 217);
$charcoalBlack: rgb(26, 26, 26);

html {
  background-color: white;
  background-image: url("./assets/images/rose_image.png");
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 10px;
}

.large-container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: black;
  padding: 1em 0;
  font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}

a.logo{
  font-weight: bold;
}

nav {
  float: right;

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    font-weight: bold;

    li a {
      padding: 1em;
      &:hover {
        background: darken($boneWhite, 10%);
        color: $charcoalBlack;
      }
    }
  }
}

h1 {
  margin-top: 2em;
}

h2 {
  text-align: center;
}

home-component {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

tour-year {
  display: block;
}
